@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Crimson Text', serif !important;
    /* font-family: 'Cairo', sans-serif !important; */
    font-size: 100%;
    background-image: url("./images/interlaced.png");
    background-attachment: fixed;
}

/* Framework */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


/* Subpage */
.subpage {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    margin: 0;
    width: 100%;
}

.subpage-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subpage-heading {
    flex: 1;
    height: 100%;
    text-align: center;
    position: fixed;
}

.subpage-heading > h1, h4 {
    margin: 0;
}

.subpage-heading > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subpage-title > .footer {
    position: fixed;
}

.diamonds {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.diamonds > p {
    color: rgb(25, 50, 75);
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.subpage-content {
    flex: 4;
    overflow: auto;
}

.subpage-heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Main Page */

.row {
    margin: 0;
}

.col-md {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

/* Navbar */
a h2 {
    padding-left: 15px;
    color: rgb(255, 255, 255);
}

#nav-title {
    /* color: rgb(25, 50, 75); */
    text-decoration: none;
}

nav h2 {
    color: rgb(25, 50, 75);
    transition: 0.3s;
}


.nav-link {
    /* color: lavender; */
    border: 2px solid rgba(0,0,0,0);
    color: rgb(25, 50, 75);
    text-decoration: none;
    transition: 0.3s;
}

.nav-item .active {
    /* color: rgb(25, 50, 75); */
    border-color: rgb(25, 50, 75);

}

.nav-link:hover {
    border-color: lavender;
    color: rgb(25, 50, 75);
    opacity: 1;
}

nav {
    background-color: rgba(230, 230, 250, .5);
    /* background-color: lavender; */
    transition: 0.3s;
}

nav:hover {
    background-color: rgb(25, 50, 75);
}

nav:hover h2 {
    color: lavender;
}

nav:hover .nav-link {
    color: lavender;
}

nav:hover .nav-item .active {
    border-color: lavender;
}

#homepage {
    background-image: url('./images/lake.jpg');
    background-size: cover;
    background-position: right;
    height: 100vh;
}



/* Card */
.card-col {
    align-items: center;
}
.card {
    border-radius: 0;
    margin-bottom: 10px;
    border-color: rgb(25, 50, 75);
}
.card-img-container {
    /* max-height: 100px; */
    height: 200px;
    overflow: hidden;
}
.card-img-top {
    border-radius: 0;
}
.card-body {
    padding: 0.75rem 1rem;
    background-color: lavender;
}
.card-footer {
    background-color: lavender;
    padding: 0.5rem 1rem;
}



/* Left side carousel */
.homepage-left {
    display: flex;
    padding: 0 !important;
}

/* Right side text */
#maintext-container {
    /* padding: 10% 5%; */
    padding-left: 12%;
    padding-right: 50%;
    padding-top: 8%;
    text-align: center;
    color: lavender;
}

/* Footer Design */
.nocolor {
    background-color: rgba(0,0,0,0);
    color: black;
}

footer {
    background-color: rgb(25, 50, 75);
    bottom: 0;
    margin-bottom: 0;
    color: white;
}

.footer-copyright{
    /* color: white; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

footer a {
    padding: 5px;
}

/* styling */
hr.separator {
    overflow: visible;
    padding: 0;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 50%;
}
